*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body{
	font-size: 16px;
	font-family: 'Muli', sans-serif;
}
img{
	max-width: 100%;
	display: block;
}
header{
    background: #1B1B35;
    overflow: hidden;
    padding: 5px 0;
    margin-bottom: 20px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 30%;
    float: left;
    /* box-sizing: border-box; */
    /* padding-left: 0px; */
}
.container img{}
.menu{
    width: 70%;
    float: left;
    margin-top: 30px;
    box-sizing: border-box;
    padding-right: 10px;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
article{}
.line_One{
    width: 100%;
}
.padding_box{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.background_box{
    background: #DCDEDD;
    box-sizing: border-box;
    padding: 30px;
}
.background_box h1{
    margin-bottom: 10px;
    color: #323232;
}
.background_box p{
    color: #5a5a5a;
}
.line_two{}
.gallery{
    background: #EEEEEE;
    margin-top: 20px;
}
.heading{
    text-align: center;
    margin: 50px 0;
}
.heading h1{
    color: #313131;
    font-weight: bold;
}
.heading strong{}
.galllery_body{}
.gallery_Line_1{
    width: 100%;
}
.img_box{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.img_box img{}
.gallery_Line_2{}
.head{
    text-align: center;
}
.head h1{
    color: white;
}
.head p{
    color: white;
    text-align: center;
    font-size: 18px;
}
.icons{}
.icons ul{
    text-align: center;
    margin-top: 15px;
}
.icons ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.icons ul li a{
    text-decoration: none;
    color: #37C3A9;
}
footer{
    background: #1B1B35;
    padding: 60px 0;
}
